/src/Imagem/Bissecaoicon.png
/src/Imagem/newicon.png
/src/Imagem/secanteicon.png
/src/Imagem/tela inical.png
/nbproject/build-impl.xml
/src/Imagem/secante.png
/src/Imagem/seta1.png
/nbproject/project.xml
/build.xml
/manifest.mf
/src/Imagem/NewR.png
/src/Imagem/Bissecao.png
/src/Imagem/calcular.png